In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "Name":['kanaram', 'pintu','mukesh','chiku'],
    "Marks":[99,66,77,88],
    "City":['Jaipur','ajmer','kota','jodhpur'],
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

      Name  Marks     City
0  kanaram     99   Jaipur
1    pintu     66    ajmer
2   mukesh     77     kota
3    chiku     88  jodhpur

###### Create CSV file for result data

In [5]:
df.to_csv('student_details.csv')     #with index

In [6]:
df.to_csv('student_indexFalse.csv', index=False)    #index false

In [7]:
df.head(2)   #show first two row

      Name  Marks    City
0  kanaram     99  Jaipur
1    pintu     66   ajmer

In [8]:
df.tail(2)    #show last two row

     Name  Marks     City
2  mukesh     77     kota
3   chiku     88  jodhpur

In [9]:
df.describe()        #calculate min, max, mean, std,count, 75%, 50%, 25%

           Marks
count   4.000000
mean   82.500000
std    14.200939
min    66.000000
25%    74.250000
50%    82.500000
75%    90.750000
max    99.000000

In [41]:
Train = pd.read_csv('ram.csv', index = ['TR1','TR2','TR3','TR4','TR5'])    #read CSV File

TypeError: parser_f() got an unexpected keyword argument 'index'

In [11]:
Train

   Train No  Train Speed From City To City
0    134234           99    Jaipur   ajmer
1    245223           66     ajmer  Jaipur
2      2525          107      kota  Jaipur
3     25252           88   jodhpur   ajmer
4     56363           99     ajmer    kota

In [12]:
Train['Train Speed'][0] = 110

<ipython-input-12-823ff74701f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Train['Train Speed'][0] = 110

In [13]:
Train

   Train No  Train Speed From City To City
0    134234          110    Jaipur   ajmer
1    245223           66     ajmer  Jaipur
2      2525          107      kota  Jaipur
3     25252           88   jodhpur   ajmer
4     56363           99     ajmer    kota

In [54]:
Train.to_csv('ram1.csv',)

In [55]:
Train.loc[[1,2,3],["Train No","To City"]]

KeyError: "None of [Int64Index([1, 2, 3], dtype='int64')] are in the [index]"

In [15]:
Train.index = ['TR1','TR2','TR3','TR4','TR5']    #change Index

In [16]:
Train

     Train No  Train Speed From City To City
TR1    134234          110    Jaipur   ajmer
TR2    245223           66     ajmer  Jaipur
TR3      2525          107      kota  Jaipur
TR4     25252           88   jodhpur   ajmer
TR5     56363           99     ajmer    kota

In [56]:
Train. loc[['TR1','TR2','TR3','TR4','TR5'],["Train No","To City"]]

     Train No To City
TR1    134234   ajmer
TR2    245223  Jaipur
TR3      2525  Jaipur
TR4     25252   ajmer
TR5     56363    kota

In [17]:
ser = pd.Series(np.random.rand(100))  #series

In [18]:
ser

0     0.789183
1     0.381915
2     0.707886
3     0.331359
4     0.592307
        ...
95    0.883807
96    0.405979
97    0.407419
98    0.291325
99    0.246163
Length: 100, dtype: float64

In [19]:
type(ser)     #series a data structure in pandas

pandas.core.series.Series

In [20]:
newdf = pd.DataFrame(np.random.rand(500,5), index=np.arange(500))

In [21]:
newdf

            0         1         2         3         4
0    0.397126  0.651041  0.266227  0.527103  0.399534
1    0.700592  0.458610  0.586962  0.195529  0.778496
2    0.225383  0.935179  0.471214  0.029575  0.107371
3    0.990797  0.330171  0.530117  0.222841  0.569784
4    0.792432  0.676043  0.176350  0.202738  0.452773
..        ...       ...       ...       ...       ...
495  0.216133  0.014832  0.806121  0.051940  0.135002
496  0.790278  0.499902  0.782277  0.314829  0.194235
497  0.689057  0.986875  0.286721  0.485737  0.108861
498  0.387366  0.389000  0.093273  0.161054  0.414159
499  0.975354  0.331599  0.747129  0.299072  0.233547

[500 rows x 5 columns]

In [22]:
type(newdf)

pandas.core.frame.DataFrame

In [23]:
newdf.describe()

                0           1           2           3           4
count  500.000000  500.000000  500.000000  500.000000  500.000000
mean     0.503234    0.504657    0.482684    0.494841    0.487849
std      0.284493    0.282393    0.297056    0.296515    0.281150
min      0.001210    0.003881    0.000068    0.000184    0.005742
25%      0.256187    0.276068    0.217161    0.225485    0.256234
50%      0.496942    0.489579    0.474645    0.492404    0.477491
75%      0.750153    0.747571    0.747274    0.761873    0.726390
max      0.998840    0.996747    0.998986    0.995766    0.997823

In [24]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [25]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            490, 491, 492, 493, 494, 495, 496, 497, 498, 499],
           dtype='int64', length=500)

In [26]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [27]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.397126,0.700592,0.225383,0.990797,0.792432,0.427196,0.260629,0.199645,0.657348,0.798076,...,0.694546,0.295771,0.317174,0.654157,0.913094,0.216133,0.790278,0.689057,0.387366,0.975354
1,0.651041,0.458610,0.935179,0.330171,0.676043,0.968852,0.742990,0.234940,0.899998,0.931895,...,0.539474,0.450864,0.266946,0.563717,0.916472,0.014832,0.499902,0.986875,0.389000,0.331599
2,0.266227,0.586962,0.471214,0.530117,0.176350,0.174775,0.404603,0.083848,0.203487,0.991952,...,0.468136,0.611058,0.899635,0.919563,0.670885,0.806121,0.782277,0.286721,0.093273,0.747129
3,0.527103,0.195529,0.029575,0.222841,0.202738,0.692505,0.340461,0.623339,0.146428,0.023449,...,0.167847,0.885579,0.342014,0.981355,0.358714,0.051940,0.314829,0.485737,0.161054,0.299072
4,0.399534,0.778496,0.107371,0.569784,0.452773,0.336224,0.537915,0.481456,0.880488,0.364445,...,0.095108,0.482567,0.460263,0.470476,0.044818,0.135002,0.194235,0.108861,0.414159,0.233547

In [28]:
newdf

            0         1         2         3         4
0    0.397126  0.651041  0.266227  0.527103  0.399534
1    0.700592  0.458610  0.586962  0.195529  0.778496
2    0.225383  0.935179  0.471214  0.029575  0.107371
3    0.990797  0.330171  0.530117  0.222841  0.569784
4    0.792432  0.676043  0.176350  0.202738  0.452773
..        ...       ...       ...       ...       ...
495  0.216133  0.014832  0.806121  0.051940  0.135002
496  0.790278  0.499902  0.782277  0.314829  0.194235
497  0.689057  0.986875  0.286721  0.485737  0.108861
498  0.387366  0.389000  0.093273  0.161054  0.414159
499  0.975354  0.331599  0.747129  0.299072  0.233547

[500 rows x 5 columns]

In [29]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
499  0.975354  0.331599  0.747129  0.299072  0.233547
498  0.387366  0.389000  0.093273  0.161054  0.414159
497  0.689057  0.986875  0.286721  0.485737  0.108861
496  0.790278  0.499902  0.782277  0.314829  0.194235
495  0.216133  0.014832  0.806121  0.051940  0.135002
..        ...       ...       ...       ...       ...
4    0.792432  0.676043  0.176350  0.202738  0.452773
3    0.990797  0.330171  0.530117  0.222841  0.569784
2    0.225383  0.935179  0.471214  0.029575  0.107371
1    0.700592  0.458610  0.586962  0.195529  0.778496
0    0.397126  0.651041  0.266227  0.527103  0.399534

[500 rows x 5 columns]

In [30]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
499  0.975354  0.331599  0.747129  0.299072  0.233547
498  0.387366  0.389000  0.093273  0.161054  0.414159
497  0.689057  0.986875  0.286721  0.485737  0.108861
496  0.790278  0.499902  0.782277  0.314829  0.194235
495  0.216133  0.014832  0.806121  0.051940  0.135002
..        ...       ...       ...       ...       ...
4    0.792432  0.676043  0.176350  0.202738  0.452773
3    0.990797  0.330171  0.530117  0.222841  0.569784
2    0.225383  0.935179  0.471214  0.029575  0.107371
1    0.700592  0.458610  0.586962  0.195529  0.778496
0    0.397126  0.651041  0.266227  0.527103  0.399534

[500 rows x 5 columns]

In [31]:
newdf2 = newdf.copy()

In [32]:
newdf2[0][0] = 0.74628

In [33]:
newdf

            0         1         2         3         4
0    0.397126  0.651041  0.266227  0.527103  0.399534
1    0.700592  0.458610  0.586962  0.195529  0.778496
2    0.225383  0.935179  0.471214  0.029575  0.107371
3    0.990797  0.330171  0.530117  0.222841  0.569784
4    0.792432  0.676043  0.176350  0.202738  0.452773
..        ...       ...       ...       ...       ...
495  0.216133  0.014832  0.806121  0.051940  0.135002
496  0.790278  0.499902  0.782277  0.314829  0.194235
497  0.689057  0.986875  0.286721  0.485737  0.108861
498  0.387366  0.389000  0.093273  0.161054  0.414159
499  0.975354  0.331599  0.747129  0.299072  0.233547

[500 rows x 5 columns]

In [34]:
newdf2

            0         1         2         3         4
0    0.746280  0.651041  0.266227  0.527103  0.399534
1    0.700592  0.458610  0.586962  0.195529  0.778496
2    0.225383  0.935179  0.471214  0.029575  0.107371
3    0.990797  0.330171  0.530117  0.222841  0.569784
4    0.792432  0.676043  0.176350  0.202738  0.452773
..        ...       ...       ...       ...       ...
495  0.216133  0.014832  0.806121  0.051940  0.135002
496  0.790278  0.499902  0.782277  0.314829  0.194235
497  0.689057  0.986875  0.286721  0.485737  0.108861
498  0.387366  0.389000  0.093273  0.161054  0.414159
499  0.975354  0.331599  0.747129  0.299072  0.233547

[500 rows x 5 columns]

In [35]:
newdf.columns = list("ABCDE")   #columns heading change

In [36]:
newdf

            A         B         C         D         E
0    0.397126  0.651041  0.266227  0.527103  0.399534
1    0.700592  0.458610  0.586962  0.195529  0.778496
2    0.225383  0.935179  0.471214  0.029575  0.107371
3    0.990797  0.330171  0.530117  0.222841  0.569784
4    0.792432  0.676043  0.176350  0.202738  0.452773
..        ...       ...       ...       ...       ...
495  0.216133  0.014832  0.806121  0.051940  0.135002
496  0.790278  0.499902  0.782277  0.314829  0.194235
497  0.689057  0.986875  0.286721  0.485737  0.108861
498  0.387366  0.389000  0.093273  0.161054  0.414159
499  0.975354  0.331599  0.747129  0.299072  0.233547

[500 rows x 5 columns]

In [37]:
newdf.drop('E',axis=1)

            A         B         C         D
0    0.397126  0.651041  0.266227  0.527103
1    0.700592  0.458610  0.586962  0.195529
2    0.225383  0.935179  0.471214  0.029575
3    0.990797  0.330171  0.530117  0.222841
4    0.792432  0.676043  0.176350  0.202738
..        ...       ...       ...       ...
495  0.216133  0.014832  0.806121  0.051940
496  0.790278  0.499902  0.782277  0.314829
497  0.689057  0.986875  0.286721  0.485737
498  0.387366  0.389000  0.093273  0.161054
499  0.975354  0.331599  0.747129  0.299072

[500 rows x 4 columns]

In [38]:
newdf.loc[0,'A'] = 3456345

In [39]:
newdf

                A         B         C         D         E
0    3.456345e+06  0.651041  0.266227  0.527103  0.399534
1    7.005917e-01  0.458610  0.586962  0.195529  0.778496
2    2.253835e-01  0.935179  0.471214  0.029575  0.107371
3    9.907966e-01  0.330171  0.530117  0.222841  0.569784
4    7.924321e-01  0.676043  0.176350  0.202738  0.452773
..            ...       ...       ...       ...       ...
495  2.161328e-01  0.014832  0.806121  0.051940  0.135002
496  7.902779e-01  0.499902  0.782277  0.314829  0.194235
497  6.890568e-01  0.986875  0.286721  0.485737  0.108861
498  3.873660e-01  0.389000  0.093273  0.161054  0.414159
499  9.753542e-01  0.331599  0.747129  0.299072  0.233547

[500 rows x 5 columns]

In [40]:
newdf.loc[[1,2,3],['C','D']]

          C         D
1  0.586962  0.195529
2  0.471214  0.029575
3  0.530117  0.222841